In [2]:
%load_ext sql

In [3]:
%sql sqlite:///phone_brands.db

In [9]:
%%sql
DROP TABLE IF EXISTS brands;
CREATE TABLE brands(
    id INTEGER,
    name CHAR(20),
    link TEXT,
    device_num INTEGER,
    PRIMARY KEY (id)
);

 * sqlite:///phone_brands.db
Done.
Done.

[]

In [8]:
%%sql
INSERT INTO brands (id, name, link, device_num) VALUES (1, "Samsung", "apple-phones-48.php", 130);
SELECT * FROM brands;

 * sqlite:///phone_brands.db
1 rows affected.
Done.

[(1, 'Samsung', 150)]